#contacts{
    width: 100vw;
    height: 100vh;
    background-color: ivory;
}

.contact{
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#contact-title {
    color: darkcyan;
    font-size: 4vw;
    text-align: center;
    font-style: italic;
    letter-spacing: 5px;
    margin: auto 1% 3% -2%;
}

#contact-telegram {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    width: 6cm;
    height: 6cm;
}

#telegram-icon {
    display: flex;
    position: relative;
    width: 75%;
    height: 75%;
    margin: 0;
}

#telegram-text {
    display: flex;
    position: relative;
    color: black;
    margin: 0;
    font-size: 2em;
    text-decoration: none;
}

#contact-discord{
    display: flex;
    position: relative;
    width: 6cm;
    height: 6cm;
    align-items: center;
    justify-content: center;
}