nav {
    position: sticky;
    top: 0;
    background-color: transparent;
    background-size: cover;
    opacity: 0.8;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
div.nav-title {
    position: relative;
    display: inline;
}
h1.nav-title {
    display: inline-block;
    color: #1B8F99;
    position: relative;
    font-size: 30px;
    text-decoration: none;
    margin: auto;
    padding-left: 3%;
}
div.nav-link {
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 5vw;
}
a.nav-link {
    display: inline;
    text-align: center;
    float: left;
    color: #72b5b7;
    padding: 16px 20px 16px 20px;
    text-decoration: none;
    font-size: 18px;
}
a.nav-link:hover {
    background-color: #4592af;
    color: white;
}