#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../resources/img/Mockup.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    animation-name: fadein;
    animation-duration: 3s;
    z-index: 0;
}

@keyframes fadein {
    from { opacity: 0.9; }
    to   { opacity: 1; }
}

.intro-text {
    display: block;
    position: relative;
    text-align: center;
    width: auto;
    color: whitesmoke;
    font-size: 9vw;
    font-family: 'Montserrat Medium', Roboto;
}