/* scroll bar hide for Chrome, Safari, Opera */
body::-webkit-scrollbar {
    display: none;
}

/* scroll bar hide for IE, Edge, Firefox*/
body {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}
body {
    margin: 0;
}
#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../resources/img/Mockup.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    animation-name: fadein;
    animation-duration: 2s;
    z-index: 0;
}

@keyframes fadein {
    from { opacity: 0.8; }
    to   { opacity: 1; }
}

.intro-text {
    display: block;
    position: relative;
    text-align: center;
    width: auto;
    color: whitesmoke;
    font-size: 9vw;
    font-family: 'Montserrat Medium', Roboto;
}

.contact {
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}


#contactTitle {
    color: white;
    font-size: 4vw;
    text-align: center;
    font-style: italic;
    letter-spacing: 5px;
    margin: auto 1% 3% -2%;
}

#contact-telegram {}

#telegram-icon {
    display: inline-block;
    position: relative;
    float: left;
    width: 7vw;
    height: 7vw;
}

#telegram-text {
    display: inline-block;
    position: relative;
    margin: 5%;
    font-size: 2vw;
    color: white;
}